.default_page__ {
  min-height: 50vh;
  padding-top: 100px;
  padding-bottom: 100px;

  @include sm {
    padding-top: 43px;
    padding-bottom: 43px;
  }

  @include xs {
    padding-top: 23px;
    padding-bottom: 23px;
  }
}

.default_section__ {
  padding-bottom: 65px;
  padding-top: 65px;

  @include sm {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  @include xs {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.section_tools_wrapper__ {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include xxs {
    flex-direction: column;
    margin: 20px 0;
  }
}

.row_modify {
  display: flex;
  justify-content: center;
  // @include md {
  //   justify-content: center;
  // }

  &.with_row_gap {
    row-gap: 30px;

    @include xs {
      row-gap: 15px;
    }
  }

  &.with_margin_bottom__ {
    margin-bottom: 30px;
  }

  &.reverse_dir_column_small_size {
    @include sm {
      flex-direction: column-reverse;
    }
  }

  &.justify_between__ {
    justify-content: space-between;
  }
}

.col_start__ {
  align-self: flex-start;
}

.col_end__ {
  align-self: flex-end;
}

.col_center__ {
  align-items: center;
}

.col_flex {
  display: flex;
}

.section_block_title__ {
  font-size: 1.6rem;
  font-weight: 500;
  color: $headingMainColor;
  margin-bottom: 20px;
}

.parag * {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 400;
  color: #473f3fa1;
  line-height: 1.7;
}
