.trip_details_page {
  .swiper-container {
    position: relative;
  }
}

.trip_figure_wrapper {
  margin-bottom: 3rem;
  border-radius: 15px;
  overflow: hidden;
  position: relative;

  .figure__ {
    // @include p-bottom(470, 1400);
    padding-bottom: 93.567251462%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.2);
    z-index: 1;
  }
}

.gallary-wrapper {
  .figure__ {
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 70%;
  }
}
