.header_logo__ img {
  max-height: 80px;
}

.project-card .image-wrapper {
  display: block;
  margin-bottom: 10px;
}

.video__ {
  position: absolute;
  width: auto;
  height: 100%;
  min-width: 100%;
  min-height: 190%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.customer_reviews_card {
  display: block;
  padding: 1.5rem 2.5rem;
  background-color: #f1f1f1;
  border-radius: 15px;
}

.customer_reviews_card .customer_info {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.customer_reviews_card .image_wrapper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.customer_reviews_card .customer_name__ {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.customer_reviews_card .customer_date__ {
  font-size: 1.2rem;
  color: #777;
}

.customer_reviews_card .customer_review_text__ {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
