.project-card {
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(#b5b5b5, 0.15);
  padding: 30px 15px 45px 15px;
  border-radius: $thirdBorderRadius;
  text-decoration: none;
  display: block;
  height: 100%;

  &:hover {
    text-decoration: none;

    .image-wrapper {
      .asp-om {
        transform: scale(1.1);
      }
    }
  }

  .image-wrapper {
    border-radius: $thirdBorderRadius;
    overflow: hidden;
    // margin: 0 auto;

    .asp-om {
      // min-width: 342px;
      @include p-bottom(320, 342);
      transition: 0.4s;
    }
  }

  .title {
    font-size: 2.1rem;
    font-weight: 500;
    color: $secondaryColor;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .parg {
    font-size: 1.6rem;
    font-weight: 400;
    color: #919191;
  }
}
